# Python virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Machine learning models and large files
*.pth
*.pt
*.pkl
*.h5
*.ckpt

# Django files
*.sqlite3
*.log
.env

# OS and IDE files
.DS_Store
Thumbs.db
*.vscode/
